<div class="products-wrap">
    <div *ngFor="let product of products" class="card product">
        <img src="{{product?.image}}" class="card-img-top" alt="{{product?.image}}">
        <div class="card-body">
            <h5 class="card-title">{{product?.title}}</h5>
            <p class="card-text author"><strong>Author:</strong> {{product?.author}}</p>
            <p class="card-text descr">{{product?.description}}</p>
        </div>
        <div class="card-footer">
            <p *ngIf="authService.isLogin" class="card-text price">{{product?.price}} <span>{{product?.currency}}</span></p>
            <button href="#" class="btn btn-success">Add to Cart</button>
        </div>
    </div>
</div>