.products-wrap {
    display: flex;
    flex-wrap: wrap;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 30%;
    padding: 0 0.5%;
}
.product img {
    height: 330px;
    margin-bottom: 10px;
}
.product h3 {
    margin-bottom: auto;
}
.product .descr {
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 25px;
}
.product .author {
    font-size: 14px;
    margin-bottom: 7px;
}
.product .author strong {
    margin-right: 3px;
}
.product .price-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.product .price-block .prise {
    flex-basis: 100%;
    font-weight: bold;
    font-size: 22px;
    text-align: right;
    color: rgb(22, 182, 142);
}
.product .price-block .add-cart {
    margin-bottom: 25px;
    margin-top: 5px;
    border: 1px solid rgba(22, 182, 142, .75);
    border-radius: 25px;
    background-color: transparent;
    padding: 10px;
    text-transform: uppercase;
    transition: all .25s ease;
}
.product .price-block .add-cart:hover {
    cursor: pointer;
    color: rgb(22, 182, 142);
    border-color: rgba(22, 182, 142, 1);
    transition: all .25s ease;
}