.products-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.product {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    padding: 0 0.5%;
}
.product img {
    height: 330px;
    margin-bottom: 10px;
}
.product .card-body .descr {
    font-size: 12px;
    opacity: 0.5;
}
.product .card-body .author strong {
    margin-right: 3px;
}
.product .card-body .price {
    margin-top: auto;
}
.card-footer {
    display: flex;
    justify-content: space-between;
}