.main-wrapper {
    display: flex;
    justify-content: center;
}
.container {
    max-width: 960px;
    flex-basis: 100%;
    background-color: #fff;
}
.main-content {
    display: flex;
    justify-content: space-between;
}
.filters-wrap {
    flex-basis: 25%;
}
.products-list-wrap {
    flex-basis: 75%;
    margin-left: 15px;
}