/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #1892FF;
    transition: color .25s ease;    
}
a:hover {
    color: rgb(13, 119, 211);
    transition: color .25s ease;
}
